@CHARSET "ISO-8859-1";

.footer-body {
	margin-left: 8%;
	margin-right: 8%;
}

.footer-secondpart { //
	border: 5px solid;
	clear: both;
	width: auto;
	height: 350px;
	color: white; //
	font-family: 'Noto Serif';
	font-family: 'Open Sans'; //
	padding-left: 10px;
}

.footer-data-left {
	float: left;
	text-align: left;
	padding-right: 50px;
}

.footer-data-right {
	float: right;
	text-align: left;
	padding-right: 60px; //
	padding-right: 30px;
}

th {
	padding-bottom: 8px;
	font-weight: bold;
}

td {
	padding-bottom: 12px;
	font-size: 14px;
}

class .{
	height: 5px;
	width: 5px;
}

/*footer-endpart.{
//border: 3px solid white;
padding-left: 25px;;
padding-bottom: 15px;
}*/
footer-vertical-line .{ //
	float: left; //
	padding-left: 50px;
	border-left: 6px solid green;
	height: 25px;
}

.vl {
	float: left;
	border-left: 2px solid white;
	height: 20px;
	padding-right: 10px;
}

body {
	margin: 0px;
	padding: 0px;
}